# Objdiff Summary: {{ .Left }} <-> {{ .Right }}

{{ if not .HasDiff -}}
{{ .Left }} <-> {{ .Right }}

No changes.
{{ else -}}
`{{ .Left }}` <-> `{{ .Right }}`

| **add** | **change** | **destroy** |
| :---: | :---: | :---: |
| {{ .Stats.Add }} | {{ .Stats.Change }} | {{ .Stats.Destroy }} |
{{- range .Diffs }}
## {{ .DiffType }} `{{ .ID }}`

<details><summary>View Diff</summary>

``` diff
{{ .Diff }}```

</details>
{{ end -}}
{{ end }}
